header {
  padding: 5px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.869);
  color: rgb(0, 0, 0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  font-family: "VT323", monospace;
}

header * {
  margin: 0;
}

.homeLink {
  color: inherit;
}

.container {
  max-width: 4000;
}

.app-name {
  font-size: 4rem;
  display: flex;
  justify-content: start;
}

.nav-col {
  display: flex;
  justify-content: space-between;
}

.nav-option {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: end;
  font-size: 32px;
}

.nav-option:hover {
  color: rgb(47, 86, 212);
}
