body {
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.homepage-container {
  display: flex;
  justify-content: center;
}

.homepage {
  margin-top: 70px;
  margin-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.467);
  border-radius: 10px;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeSubHeader {
  font-size: 40px;
  margin-bottom: 50px;
}

.siteName {
  font-size: 70px;
  font-family: "VT323", monospace;
}

.homepage p {
  font-size: 22px;
  margin-bottom: 70px;
}

.getStartedBtn {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "VT323", monospace;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.getStartedBtn:hover {
  box-shadow: none;
}
